.grid-container {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: minmax(95vh, auto);
    grid-template-areas: 
        "header header header header"
        "main main . sidebar"
        "footer footer footer footer";
      
}

.item-one {
    background-color: chartreuse;
    text-align: center;
   
}

.item-two {
    background-color: cadetblue;
    text-align: center;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
        grid-template-rows: 1fr 12fr 1fr;

}

.item-two-header {
    background-color: coral;

    grid-area: header;

}
.two-main-content {
    grid-area: main;
    display: grid;
    grid-template-columns: 2fr  1fr ; 
    grid-template-rows: 15fr 2fr 1fr  ;
    gap: 10px; 
}

.content-item {
    text-align: center;
    background-color: lightblue;
    padding: 10px;
}

.item1 {
 background-color: lightblue;
margin: 3%;
width: 97%;
height: 109%;

}

.item2 {
    background-color: lightpink;
  margin-left: 12%;

  margin-top: 3%;
    width: 70%;
    height: 99%;
    /* width: 90%;
    height:100%;
 margin-left: 100%; */

}

.item3 {
    background-color: lightgreen;
  width: 70%;
  height: 62%;
    border-radius: 10px ;
    margin-top: 5%;
margin-left: 12%;
  
 grid-column: 2/3;
-ms-grid-rows: 2/3;



}

.item-two-footer {
    background-color: chocolate;
    grid-area: footer;

}

