* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* hjjyj */
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 10fr;
    min-height: 100vh;
    grid-template-rows: minmax(100vh, auto);
    grid-template-areas:
        "header header header header"
        "main main . sidebar"
        "footer footer footer footer";

}
#numberMaxNameValue{
    background-color: #666666;
}

.side-bar {
    display: grid;
    grid-template-rows: 30% 20% 45% 8%;
    background-color: #9E9FA5;
    text-align: center;
    /* min-height: 100vh;
    height: auto 110vh; */

}

.page-title,
.generate-btn-part,
.history-panel-part,
.history-panel,

.title-content {
    border-width: 2px 2px 0 2px;
    border-style: solid;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 95%;
    background-color: #C3EDC0;
  
}

.generate-btn {
    padding: 15%;
}

.title-content {
    border: 2px solid black;
    height: 70%;
    width: 80%;
    background-color: #DFFFD8 ;
}

.history-panel {
height: 500px;
  width: 100px;
    overflow: auto;
    background-color: #DFFFD8;
}

.main-part {
    background-color: #A2A378;
    text-align: center;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: 1fr 12fr 1fr;

}

.header-part {
    display: flex;
    justify-content: center;
  line-height: 62PX;
    color: #1e4057;
    background-color: #C3EDC0;;
    border: 2px solid black;
    grid-area: header;
}

.main-content {
    grid-area: main;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 15fr 2fr 1fr;
    gap: 10px;
}

.content-item {
    text-align: center;

    padding: 10px;
}

.item1 {
    margin: 3%;
    width: 95%;
    height: 109%;
    border: 2px solid black;
    background-color: #E9FFC2;
    border-radius: 5px;

}

/* Style for the popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 30%;
/* display: grid;
grid-template-columns: repeat(4,1fr); */
display: inline-block;
  margin-left: 15%;
  margin-top: -10%;
    transform: translate(-50%, -50%);
    line-height: 168%;
    background-color: #C9DBB2;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.item2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
border-radius: 5px;
    border: 2px solid black;
    margin-left: .1%;
    margin-top: 3%;
    width: 97%;
    height: 101%;
    background-color: #FDFFAE;
}

.properties {
    width: 24.25%;
    margin-bottom: -15%;
}

.min-char {
    margin-right: 1%;
    display: grid;
    ;
    grid-template-rows: repeat(4, 1fr);

}

.min-first {
    margin-top: -200%;


}

.min-second {
    margin-top: -174%;

}

.min-third {

    margin-top: -154%;
}

#numberMinLastNameValue,#numberMinNameValue,#numberMinAgeValue,#numberMaxNameValue,#numberMaxLastNameValue,#numberMaxAgeValue{
    background-color: #A4BC92;
    width: 70px;
    height: 25px;
    border-radius: 3px;
}

.max-char {
    display: grid;
    ;
    grid-template-rows: repeat(4, 1fr);
}

.max-first {
    margin-top: -200%;
}

.max-second {
    margin-top: -174%;
}

.max-third {
    margin-top: -154%;
}



.include-symbols {
    width: 24.25%;
}

.properties .name {
    height: 25.5%;
    margin-top: 30%;
  
}

.properties .last-name {
    height: 25.5%;
}

.properties .age {
    height: 25.5%;
}

.include-symbols {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.include-options-name {
    margin-top: -172%;
}

.include-options-last-name {
    margin-top: -122%;
}

.include-options-age {
    margin-top: -85%;
}

.include-options-email {
    margin-top: 70%;
}

.option-field-num {
    margin-right: -22%;

}

.option-field-symbols {
    margin-left: 20%;
}



.content-item {
    display: flex;

}

.submit-btn{
width: 70px;
height: 40px;
 border-radius: 5px;
 margin-left: -80%;
 background-color: #A2A378;
}
.submit-btn:hover{
    background-color:#83764F ;
}
.item3 {
    border: 2px solid black;
    background-color: #E9FFC2;
   
    width: 70%;
    height: 120%;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 12%;
    grid-column: 2/3;
    -ms-grid-rows: 2/3;
}

.footer-part {
    background-color: #C3EDC0;
    border: 2px solid black;
    grid-area: footer;
    padding: 1%;
    border-radius: 12px;
  
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.prevBtn,.nextBtn{
    background-color: #A4907C;
   width: 40px;
   height: 30px;
   border-radius: 3px;
   margin-top: -10%;
}
.prevBtn{
    margin-left: -6%;
}
.pagination {
display: inline-block;

}
.rows-per-page{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #322653;
    margin-left: 72%;
font-size: larger;
}
#rowsPerPage{
    background-color: #A2A378;
    border-radius: 5px;
}
/* .btn {
    border: none;

}

.btn,
.link {
    height: 45px;
    width: 45px;
    font-size: 18px;
    color: #666666;
    background-color: #f2f2f2;
    border-radius: 6px;
    cursor: pointer;

}

.links {
    column-gap: 12px;
}

.link {
    text-decoration: none;
    font-weight: 500;

}

.footer-part,
.btn,
.links,
.link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover,
.link:hover {
    color: #fff;
    background: #4070f4;
}

.link.active {
    color: #fff;
    background: #4070f4;
} */




/* select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    padding: 5px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
select::-ms-expand {
    display: none;
}

select option {
    transform: rotateX(180deg);
} */
.dropbtn{
    background-color: #3498db;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 85%;
    text-align: center;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
}
.dropbtn:hover, .dropbtn:focus{
    background-color: #1e4057;
}
.dropDown{
   
    position: relative;
    display: inline-block;
    margin-left: 5%;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #cfbdbd;
    width: 100%;
margin-left: 1%;
margin-top: -102%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,2);
    z-index: 1;
}
.dropdown-content a{

    width: 10%;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: #ddd;
}
.show{
    display: block;
}

.table-header {
    margin-left: .3%;
    margin-bottom: 3%;
    width: 100%;
    height: 10%;
    text-transform: capitalize;


    background-color: #fff4;
}

/* main.table {
    width: 100%;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    height: 100%;
    background-color: rgba(234, 203, 203, 0.333);



} */


th,
td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;

}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}
.table {
    margin-left: 3%;
height: 800px; 
width: 800px;
overflow: auto;
}

/* Optional: You can add more styles to enhance the table appearance */
#numberTable {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

#numberTable th, #numberTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#numberTable th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.timeDateContainer {
    font-size: 20px;
    margin-bottom: 2%;
   
}
